/* line 5, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: "ff-basic-gothic-web-pro", "Century Gothic", sans-serif;
  border-top: 9px solid #bad331;
  font-size: 14px;
  font-weight: 100;
  color: #674692;
  background-color: #4a2a75;
}

/* line 22, ../sass/screen.scss */
a,
a:visited {
  color: #bad331;
  text-decoration: underline;
}

/* line 28, ../sass/screen.scss */
p {
  margin-bottom: 0.8em;
}

/* line 35, ../sass/screen.scss */
input[type=text],
input[type=password],
input[type=email] {
  background-color: #ebf7a9;
  border: 1px solid rgba(135, 155, 23, 0.44);
  border-radius: 3px;
  color: #4a2a75;
  font-style: italic;
  font-size: 16px;
  line-height: 100%;
  padding: 7px 10px;
  min-width: 120px;
  outline: none;
}

/* line 51, ../sass/screen.scss */
.green-button, #widgets .block#block-views-blog-block .more-link a, form#user-login #edit-submit,
.purple-button {
  display: inline-block;
  padding: 9px 10px 7px 10px;
  text-align: center;
  min-width: 85px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  line-height: 100%;
  cursor: pointer;
  text-shadow: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  text-transform: lowercase;
  font-family: "ff-basic-gothic-web-pro", "Century Gothic", sans-serif;
  font-weight: 100;
}

/* line 70, ../sass/screen.scss */
.green-button.large, #widgets .block#block-views-blog-block .more-link a.large, form#user-login .large#edit-submit,
.purple-button.large {
  min-width: 120px;
  padding: 11px 10px 9px 10px;
  font-size: 18px;
}

/* line 76, ../sass/screen.scss */
.green-button, #widgets .block#block-views-blog-block .more-link a, form#user-login #edit-submit {
  border-bottom: 3px solid #85991a;
  background-color: #bad331;
  color: #4a2a75 !important;
  font-weight: 500;
}
/* line 83, ../sass/screen.scss */
.green-button:hover, #widgets .block#block-views-blog-block .more-link a:hover, form#user-login #edit-submit:hover {
  color: white!important;
}

/* line 88, ../sass/screen.scss */
.purple-button {
  border-bottom: 3px solid #321856;
  background-color: #4a2a75;
  color: white!important;
}
/* line 94, ../sass/screen.scss */
.purple-button:hover {
  color: #bad331 !important;
}

/* line 108, ../sass/screen.scss */
#navigation > div,
#header > div,
#main > div,
#title-wrapper > div,
#widgets > div,
#widgets2 > div,
#footer > div {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
/* line 114, ../sass/screen.scss */
#navigation > div > *,
#header > div > *,
#main > div > *,
#title-wrapper > div > *,
#widgets > div > *,
#widgets2 > div > *,
#footer > div > * {
  padding: 0 20px;
}

/* line 121, ../sass/screen.scss */
.messages {
  padding: 10px 10px 10px 50px !important;
}

/* line 126, ../sass/screen.scss */
#navigation {
  overflow: hidden;
  position: relative;
  z-index: 10;
  background: white;
}
/* line 133, ../sass/screen.scss */
#navigation > div {
  position: relative;
  overflow: hidden;
}
/* line 139, ../sass/screen.scss */
#navigation a#logo {
  line-height: 127px;
  float: left;
  width: 225px;
}
/* line 145, ../sass/screen.scss */
#navigation a#logo img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
/* line 155, ../sass/screen.scss */
#navigation #block-block-5 p {
  margin: 0;
}
/* line 160, ../sass/screen.scss */
#navigation #block-block-5 .content a {
  line-height: 34px;
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0 14px 2px 14px;
  color: #4a2a75;
  background: #bad331 url(../images/star-cover-your-tracks.png) no-repeat center bottom;
  font-size: 16px;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid #85991a;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 178, ../sass/screen.scss */
#navigation #block-block-5 .content a:hover {
  color: white;
}
/* line 185, ../sass/screen.scss */
#navigation #block-block-7 {
  display: none;
}
/* line 189, ../sass/screen.scss */
#navigation #block-block-7 p {
  margin: 0;
}
/* line 194, ../sass/screen.scss */
#navigation #block-block-7 .content a {
  display: block;
  margin: 0 auto;
  width: 122px;
  text-align: center;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 34px;
  background: #bad331 url(../images/star-cover-your-tracks.png) no-repeat center bottom;
  text-decoration: none;
  border-bottom: 3px solid #85991a;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 211, ../sass/screen.scss */
#navigation #block-block-7 .content a span {
  padding-right: 15px;
  background: url(../images/arrow-down.png) no-repeat right center;
}
/* line 217, ../sass/screen.scss */
#navigation #block-block-7 .content a.open span {
  background-image: url(../images/arrow-up.png);
}

/* line 225, ../sass/screen.scss */
#block-menu-block-2 {
  float: right;
  margin-top: 60px;
}
/* line 230, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul {
  list-style: none;
}
/* line 234, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  /* hide the home link */
  /* hide the how to cover your tracks link */
}
/* line 242, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li.first > a {
  padding-left: 0;
}
/* line 246, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li.last > a {
  padding-right: 0;
}
/* line 251, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li > a {
  line-height: 36px;
  display: block;
  padding: 0 12px;
  color: #4a2a75;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
}
/* line 262, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li > a.active {
  color: #bad331;
}
/* line 267, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li > a:hover {
  color: #bad331;
}
/* line 274, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li.menu-mlid-224 {
  display: none;
}
/* line 279, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li.menu-mlid-409 {
  display: none;
}
/* line 285, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li.active:after, #block-menu-block-2 .content > div > ul > li:hover:after {
  position: absolute;
  right: 1px;
  bottom: 5px;
  background: url(../images/star-menu.png) no-repeat;
  width: 10px;
  height: 10px;
  display: block;
  content: " ";
  z-index: -1;
}
/* line 298, ../sass/screen.scss */
#block-menu-block-2 .content > div > ul > li.active.last:after, #block-menu-block-2 .content > div > ul > li.last:hover:after {
  right: -11px;
}

/* line 307, ../sass/screen.scss */
#title-wrapper {
  background: #2d1917;
}
/* line 311, ../sass/screen.scss */
#title-wrapper > div > div {
  background: url(../images/headers/1.png) no-repeat right top;
}

/* line 318, ../sass/screen.scss */
body.page-node-1 #title-wrapper {
  background: #b2ad9a;
}
/* line 322, ../sass/screen.scss */
body.page-node-1 #title-wrapper > div > div {
  background: url(../images/headers/2.png) no-repeat right top;
}

/* line 330, ../sass/screen.scss */
body.page-node-2 #title-wrapper {
  background: #2d1917;
}
/* line 334, ../sass/screen.scss */
body.page-node-2 #title-wrapper > div > div {
  background: url(../images/headers/1.png) no-repeat right top;
}

/* line 343, ../sass/screen.scss */
body.page-node-3 #title-wrapper,
body.page-node-22 #title-wrapper {
  background: #45443f;
}
/* line 347, ../sass/screen.scss */
body.page-node-3 #title-wrapper > div > div,
body.page-node-22 #title-wrapper > div > div {
  background: url(../images/headers/3.png) no-repeat right top;
}

/* line 355, ../sass/screen.scss */
body.page-node-4 #title-wrapper {
  background: #514549;
}
/* line 359, ../sass/screen.scss */
body.page-node-4 #title-wrapper > div > div {
  background: url(../images/headers/4.png) no-repeat right top;
}

/* line 367, ../sass/screen.scss */
body.page-node-5 #title-wrapper {
  background: #202f00;
}
/* line 371, ../sass/screen.scss */
body.page-node-5 #title-wrapper > div > div {
  background: url(../images/headers/5.png) no-repeat right top;
}

/* line 379, ../sass/screen.scss */
#widgets {
  background: #4a2a75 url(../images/star-widgets-bg.png) no-repeat center top;
  padding: 38px 0;
  overflow: hidden;
  box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.5);
  position: relative;
  display: none;
}
/* line 388, ../sass/screen.scss */
#widgets .block {
  float: left;
  width: 30.6666666%;
  padding: 0 2%;
  color: white;
  position: relative;
}
/* line 396, ../sass/screen.scss */
#widgets .block:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 260px;
  border-right: 1px solid #3a215b;
  border-left: 1px solid #604684;
}
/* line 409, ../sass/screen.scss */
#widgets .block > div {
  position: relative;
  z-index: 1;
}
/* line 415, ../sass/screen.scss */
#widgets .block h2 {
  color: #bad331;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 36px;
  background: url(../images/star-widgets-heading.png) no-repeat left center;
  text-transform: lowercase;
}
/* line 426, ../sass/screen.scss */
#widgets .block h3 {
  color: #bad331;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 3px;
}
/* line 435, ../sass/screen.scss */
#widgets .block p {
  margin-bottom: 1em;
}
/* line 440, ../sass/screen.scss */
#widgets .block#block-views-widget-block-1-block {
  padding-left: 0;
}
/* line 444, ../sass/screen.scss */
#widgets .block#block-views-widget-block-1-block:before {
  border-left: 0;
}
/* line 449, ../sass/screen.scss */
#widgets .block#block-views-blog-block {
  padding-right: 0;
}
/* line 453, ../sass/screen.scss */
#widgets .block#block-views-blog-block:before {
  border-right: 0;
}
/* line 460, ../sass/screen.scss */
#widgets .block#block-views-blog-block .more-link {
  text-align: left;
}

/* line 475, ../sass/screen.scss */
.view-blog .views-row {
  clear: both;
  overflow: hidden;
  margin-bottom: 18px!important;
}
/* line 482, ../sass/screen.scss */
.view-blog .views-field-title a {
  color: #bad331;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}
/* line 490, ../sass/screen.scss */
.view-blog .views-field-title a:hover {
  text-decoration: underline;
}
/* line 496, ../sass/screen.scss */
.view-blog .views-field-created {
  padding: 18px 13px;
  width: 40px;
  height: 32px;
  line-height: 16px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  font-style: italic;
  float: left;
  margin-right: 14px;
  background: url(../images/date-bg.png) no-repeat;
}

/* line 515, ../sass/screen.scss */
#widgets .block .views-row,
.view-partners-and-supporters .views-row {
  clear: left;
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 522, ../sass/screen.scss */
#widgets .block .views-field-field-image,
.view-partners-and-supporters .views-field-field-image {
  float: left;
  position: relative;
  margin-right: 8px;
}
/* line 528, ../sass/screen.scss */
#widgets .block .views-field-field-image:before,
.view-partners-and-supporters .views-field-field-image:before {
  content: " ";
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url(../images/pinhole.png);
  z-index: 1;
}
/* line 540, ../sass/screen.scss */
#widgets .block .views-field-title a,
.view-partners-and-supporters .views-field-title a {
  text-decoration: none;
}
/* line 544, ../sass/screen.scss */
#widgets .block .views-field-title a:hover,
.view-partners-and-supporters .views-field-title a:hover {
  text-decoration: underline;
}

/* line 553, ../sass/screen.scss */
.view-partners-and-supporters.view-display-id-page .views-field-title h3 {
  clear: none!important;
}
/* line 558, ../sass/screen.scss */
.view-partners-and-supporters.view-display-id-page .views-field-body {
  padding-left: 72px;
}

/* line 564, ../sass/screen.scss */
.front #widgets {
  display: block;
}

/* line 569, ../sass/screen.scss */
#widgets2 {
  background: #bad331 url(../images/star-widgets2-bg.png) no-repeat center bottom;
  padding: 38px 0;
  overflow: hidden;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
  font-weight: 200;
}
/* line 577, ../sass/screen.scss */
#widgets2 .block {
  float: left;
  width: 30.6666666%;
  padding: 0 2%;
  color: #4a2a75;
  position: relative;
}
/* line 585, ../sass/screen.scss */
#widgets2 .block:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  border-right: 1px solid #91a526;
  border-left: 1px solid #dce79d;
}
/* line 598, ../sass/screen.scss */
#widgets2 .block > div {
  position: relative;
  z-index: 1;
}
/* line 604, ../sass/screen.scss */
#widgets2 .block h2 {
  color: #4a2a75;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 36px;
  background: url(../images/star-widgets2-heading.png) no-repeat left center;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-transform: lowercase;
}
/* line 616, ../sass/screen.scss */
#widgets2 .block p {
  margin-bottom: 1em;
}
/* line 621, ../sass/screen.scss */
#widgets2 .block#block-block-3 {
  padding-left: 0;
}
/* line 625, ../sass/screen.scss */
#widgets2 .block#block-block-3:before {
  border-left: 0;
}
/* line 635, ../sass/screen.scss */
#widgets2 .block#block-block-4 .facebook,
#widgets2 .block#block-block-4 .twitter,
#widgets2 .block#block-block-4 .linkedin {
  display: block;
  float: left;
  width: 31.33333333%;
  max-width: 76px;
  height: 76px;
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
  margin-bottom: 20px;
  margin-right: 3%;
}
/* line 649, ../sass/screen.scss */
#widgets2 .block#block-block-4 .facebook {
  background-image: url(../images/facebook-sprite.png);
}
/* line 653, ../sass/screen.scss */
#widgets2 .block#block-block-4 .facebook:hover {
  background-position: -76px 0;
}
/* line 658, ../sass/screen.scss */
#widgets2 .block#block-block-4 .twitter {
  background-image: url(../images/twitter-sprite.png);
}
/* line 662, ../sass/screen.scss */
#widgets2 .block#block-block-4 .twitter:hover {
  background-position: -76px 0;
}
/* line 667, ../sass/screen.scss */
#widgets2 .block#block-block-4 .linkedin {
  background-image: url(../images/linkedin-sprite.png);
  margin-right: 0;
}
/* line 672, ../sass/screen.scss */
#widgets2 .block#block-block-4 .linkedin:hover {
  background-position: -76px 0;
}
/* line 678, ../sass/screen.scss */
#widgets2 .block#block-block-4 .purple-button {
  clear: left;
}
/* line 684, ../sass/screen.scss */
#widgets2 .block#block-block-6 {
  padding-right: 0;
}
/* line 688, ../sass/screen.scss */
#widgets2 .block#block-block-6:before {
  border-right: 0;
}
/* line 694, ../sass/screen.scss */
#widgets2 .block#block-block-6 input[type=text],
#widgets2 .block#block-block-6 input[type=email] {
  width: 80%;
}

/* line 705, ../sass/screen.scss */
.view-widget-block-1,
.view-partners-and-supporters.view-display-id-block,
.view-blog.view-display-id-block {
  /*
  .view-footer
  {
  	position:absolute;
  	bottom:0;
  }
  */
}
/* line 708, ../sass/screen.scss */
.view-widget-block-1 .view-content,
.view-partners-and-supporters.view-display-id-block .view-content,
.view-blog.view-display-id-block .view-content {
  min-height: 185px;
  overflow: hidden;
}

/*
.region-widgets
{
	padding-bottom:35px!important;
	overflow:hidden;
	position:relative;
}
*/
/* line 730, ../sass/screen.scss */
#footer {
  font-size: 10px;
  color: white;
  background-color: #4a2a75;
  padding: 30px 0;
  overflow: hidden;
}
/* line 738, ../sass/screen.scss */
#footer #block-menu-block-1 ul {
  list-style: none;
}
/* line 742, ../sass/screen.scss */
#footer #block-menu-block-1 ul li {
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 749, ../sass/screen.scss */
#footer #block-menu-block-1 ul li.first a {
  border-left: 0;
  padding-left: 0;
}
/* line 754, ../sass/screen.scss */
#footer #block-menu-block-1 ul li.last a {
  border-right: 0;
  padding-right: 0;
}
/* line 760, ../sass/screen.scss */
#footer #block-menu-block-1 ul li.menu-mlid-409 {
  display: none;
}
/* line 765, ../sass/screen.scss */
#footer #block-menu-block-1 ul li a {
  text-decoration: none;
  color: white;
  padding: 0 11px;
  border-left: 1px solid #efefef;
  line-height: 100%;
  text-transform: lowercase;
}
/* line 774, ../sass/screen.scss */
#footer #block-menu-block-1 ul li a:hover {
  text-decoration: underline;
  color: #bad331;
}
/* line 783, ../sass/screen.scss */
#footer .footer-right {
  float: right;
  line-height: 100%;
}
/* line 788, ../sass/screen.scss */
#footer .footer-right #copyright {
  float: left;
  padding-right: 11px;
}
/* line 794, ../sass/screen.scss */
#footer .footer-right #site-by-cci {
  float: left;
  padding-left: 11px;
  border-left: 1px solid #dfdfdf;
}
/* line 800, ../sass/screen.scss */
#footer .footer-right #site-by-cci a {
  color: white;
  text-decoration: none;
}
/* line 805, ../sass/screen.scss */
#footer .footer-right #site-by-cci a:hover {
  text-decoration: underline;
  color: #bad331;
}

/* line 818, ../sass/screen.scss */
.front #main-wrapper {
  height: 535px;
  background: url(../images/bg/1.jpg) no-repeat center top;
  background: no-repeat center top;
  color: white;
  text-shadow: 1px 1px 3px black;
}
/* line 826, ../sass/screen.scss */
.front #main-wrapper #main .contextual-links-region {
  position: static;
}
/* line 831, ../sass/screen.scss */
.front #main-wrapper img.bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -800px;
}
/* line 840, ../sass/screen.scss */
.front #page-title {
  display: none;
}
/* line 845, ../sass/screen.scss */
.front #bg-wrapper {
  width: 100%;
  overflow: hidden;
}
/* line 851, ../sass/screen.scss */
.front #navigation {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}
/* line 855, ../sass/screen.scss */
.front #navigation > div {
  overflow: visible;
}

/* line 862, ../sass/screen.scss */
#main-wrapper {
  position: relative;
}

/* line 868, ../sass/screen.scss */
#main > .content {
  padding-top: 20px;
}

/* line 873, ../sass/screen.scss */
#page-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: lowercase;
  color: white;
  display: table-cell;
  height: 200px;
  vertical-align: middle;
}

/* line 884, ../sass/screen.scss */
#block-system-main {
  color: white;
  background: #4a2a75 url(../images/star-widgets-bg.png) no-repeat center top;
  min-height: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
/* line 894, ../sass/screen.scss */
#block-system-main ul,
#block-system-main ol {
  margin-left: 40px;
  margin-bottom: 10px;
}
/* line 899, ../sass/screen.scss */
#block-system-main ul li,
#block-system-main ol li {
  padding-left: 20px;
  margin-bottom: 3px;
}
/* line 906, ../sass/screen.scss */
#block-system-main h2 {
  color: #bad331;
  padding-left: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  background: url(../images/star-widgets-heading.png) no-repeat left center;
  margin-bottom: 20px;
  clear: both;
}
/* line 918, ../sass/screen.scss */
#block-system-main h3 {
  clear: both;
  color: #bad331;
  font-size: 18px;
  margin-bottom: 5px;
}

/* line 927, ../sass/screen.scss */
#bg-arrows {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  display: none;
}
/* line 936, ../sass/screen.scss */
#bg-arrows img {
  height: 27px;
  width: 18px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  z-index: 2;
  cursor: pointer;
}
/* line 946, ../sass/screen.scss */
#bg-arrows img.previous {
  left: -18px;
  margin-left: -20px;
}
/* line 952, ../sass/screen.scss */
#bg-arrows img.next {
  right: -18px;
  margin-left: 20px;
}

/* line 969, ../sass/screen.scss */
form#user-login .description,
form#user-login .form-required {
  display: none;
}
/* line 974, ../sass/screen.scss */
form#user-login label {
  color: #bad331;
  text-transform: lowercase;
  font-size: 16px;
}
/* line 982, ../sass/screen.scss */
form#user-login .form-item-name input,
form#user-login .form-item-pass input {
  width: 250px;
}

/* line 988, ../sass/screen.scss */
.view-carousel {
  width: 100%;
  max-width: 330px;
  padding-top: 20px;
}
/* line 994, ../sass/screen.scss */
.view-carousel .views-row {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 330px;
  max-height: 463px;
  overflow: hidden;
}
/* line 1004, ../sass/screen.scss */
.view-carousel .views-row.views-row-first {
  display: block;
}
/* line 1009, ../sass/screen.scss */
.view-carousel .views-row .views-field-title {
  font-size: 48px;
  margin-bottom: 15px;
  font-weight: bold;
}
/* line 1016, ../sass/screen.scss */
.view-carousel .views-row .views-field-body {
  font-weight: 500;
}
/* line 1022, ../sass/screen.scss */
.view-carousel .views-row .views-field-field-background-image,
.view-carousel .views-row .views-field-field-background-colour {
  display: none;
}
/* line 1028, ../sass/screen.scss */
.view-carousel #carousel-stars {
  list-style: none;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  margin: 0;
}
/* line 1036, ../sass/screen.scss */
.view-carousel #carousel-stars li {
  list-style: none;
  float: left;
  margin-right: 8px;
  padding-left: 0;
}
/* line 1043, ../sass/screen.scss */
.view-carousel #carousel-stars li a {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/star-carousel-inactive.png);
  font-size: 0;
  color: transparent;
}
/* line 1052, ../sass/screen.scss */
.view-carousel #carousel-stars li a.active {
  background-image: url(../images/star-carousel-active.png);
}

/* line 1061, ../sass/screen.scss */
.contextual-links-region {
  position: static;
}

@media screen and (max-width: 900px) {
  /* line 1070, ../sass/screen.scss */
  #block-menu-block-2 {
    margin: 0 auto;
    float: none;
  }

  /* line 1076, ../sass/screen.scss */
  #navigation a#logo {
    float: none;
    text-align: center;
    display: block;
  }

  /* line 1083, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul {
    text-align: center;
  }
  /* line 1087, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul li {
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  /* line 1099, ../sass/screen.scss */
  #navigation {
    overflow: visible;
  }
  /* line 1103, ../sass/screen.scss */
  #navigation > div {
    overflow: visible;
  }

  /* line 1109, ../sass/screen.scss */
  #block-menu-block-2 {
    display: none;
    background: #bad331 url(../images/logo2.png) no-repeat center 8px;
  }
  /* line 1114, ../sass/screen.scss */
  #block-menu-block-2 > div {
    padding-top: 100px;
    padding-bottom: 10px;
  }
  /* line 1120, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul li {
    display: block;
    float: none;
    border-top: 1px solid #8b9e25;
    margin: 0 20px;
    text-align: left;
  }
  /* line 1128, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul li.menu-mlid-409 {
    display: block;
  }
  /* line 1133, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul li a {
    line-height: 50px;
    border-top: 1px solid #e3edad;
  }
  /* line 1139, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul li a:hover, #block-menu-block-2 .content > div > ul li a.active {
    color: #4a2a75;
  }
  /* line 1145, ../sass/screen.scss */
  #block-menu-block-2 .content > div > ul li.active:after {
    bottom: auto;
    top: 50%;
    margin-top: -4px;
    z-index: 0;
  }

  /* line 1156, ../sass/screen.scss */
  #block-block-5,
  #block-menu-block-1 {
    display: none;
  }

  /* line 1161, ../sass/screen.scss */
  #navigation #block-block-7 {
    display: block;
  }

  /* line 1166, ../sass/screen.scss */
  #navigation a#logo {
    padding-top: 37px;
    line-height: 100px;
  }

  /* line 1172, ../sass/screen.scss */
  .region-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    padding: 0!important;
  }

  /* line 1182, ../sass/screen.scss */
  #footer .footer-right {
    float: none;
    text-align: center;
  }
  /* line 1188, ../sass/screen.scss */
  #footer .footer-right #copyright,
  #footer .footer-right #site-by-cci {
    float: none;
    display: inline-block;
  }

  /* line 1196, ../sass/screen.scss */
  #widgets .block,
  #widgets2 .block {
    float: none;
    width: auto;
    padding: 40px 0;
    clear: left;
    overflow: hidden;
  }
  /* line 1204, ../sass/screen.scss */
  #widgets .block:before,
  #widgets2 .block:before {
    border: 0;
  }

  /* line 1210, ../sass/screen.scss */
  #widgets .block {
    border-bottom: 1px solid #371f58;
    border-top: 1px solid #654a8a;
  }
  /* line 1215, ../sass/screen.scss */
  #widgets .block#block-views-widget-block-1-block {
    border-top: 0;
    padding-top: 12px;
  }
  /* line 1220, ../sass/screen.scss */
  #widgets .block#block-views-blog-block {
    border-bottom: 0;
    padding-bottom: 12px;
  }

  /* line 1227, ../sass/screen.scss */
  #widgets2 .block {
    border-bottom: 1px solid #8b9e25;
    border-top: 1px solid #e3edad;
  }
  /* line 1232, ../sass/screen.scss */
  #widgets2 .block#block-block-3 {
    border-top: 0;
    padding-top: 12px;
  }
  /* line 1237, ../sass/screen.scss */
  #widgets2 .block#block-block-4 a {
    margin-bottom: 0!important;
  }
  /* line 1241, ../sass/screen.scss */
  #widgets2 .block#block-block-6 {
    border-bottom: 0;
    padding-bottom: 12px;
  }
  /* line 1247, ../sass/screen.scss */
  #widgets2 .block#block-block-6 input[type=text],
  #widgets2 .block#block-block-6 input[type=email] {
    width: 90%;
  }

  /* line 1256, ../sass/screen.scss */
  .view-carousel .views-row {
    padding-top: 0!important;
    height: 100%;
    max-height: 200px;
  }
  /* line 1262, ../sass/screen.scss */
  .view-carousel .views-row .views-field-title {
    font-size: 36px;
  }
  /* line 1268, ../sass/screen.scss */
  .view-carousel .views-row .views-field-body p {
    position: absolute;
    bottom: 40px;
    left: 0;
    color: transparent;
    font-size: 0;
  }

  /* line 1280, ../sass/screen.scss */
  .front #main-wrapper {
    height: 265px;
  }

  /* line 1285, ../sass/screen.scss */
  .front #main-wrapper img.bg {
    height: 265px;
    width: auto;
    left: auto;
    right: -170px;
    margin-left: 0;
  }

  /* line 1294, ../sass/screen.scss */
  .front #block-system-main {
    background: none;
  }
}
@media screen and (max-width: 560px) {
  /* line 1304, ../sass/screen.scss */
  .front #main-wrapper img.bg {
    right: -200px;
  }
}
